@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans;
  src: url(../../public/fonts/Iranian\ Sans.ttf);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: iransans;
  overflow-x: hidden;
}
.customShadow{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4),
              -5px -5px 10px rgba(0, 0, 0, 0.1); 
}
#priceRange{
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: linear-gradient(to left, #fdcf07 50%, #ddd 50%);
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}
#priceRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  background: #fdcf07;
  cursor: pointer;
  border-radius: 0%;
}
#priceRange::-moz-range-thumb {
  width: 5px;
  height: 20px;
  background: #fdcf07;
  cursor: pointer;
  border-radius: 0%;
}

@layer components{
  .layout{
    @apply max-w-[1300px] mx-auto
  }
  .flex-center{
    @apply flex justify-center items-center
  }
  .hide-last-two-mb > :nth-last-child(-n+2) {
    @apply hidden;
  }
}