@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iransans;
  src: url(../../public/fonts/Iranian\ Sans.ttf);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: iransans;
}
.customShadow{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4),
              -5px -5px 10px rgba(0, 0, 0, 0.1); 
}


@layer components{
  .layout{
    @apply max-w-[1300px] mx-auto
  }
  .flex-center{
    @apply flex justify-center items-center
  }
  .hide-last-two-mb > :nth-last-child(-n+2) {
    @apply hidden;
  }
}